include ./dropdown-item/dropdown-item

//-
  options.type - guest || room
  options.isVisible - hide || show
  options.withBtn - true || false

mixin dropdown(options = {})
  - 
    const {type = 'guest', isVisible = 'hide', withBtn = true, isDefault = 'hide'} = options
    const value = type === 'guest' ? 'Сколько гостей' : 'Комната'

  .dropdown.js-dropdown(data-type= type, data-visible= isVisible, data-default= isDefault)
    label.dropdown__label
      input.dropdown__input(value= value, readonly="readonly")

    if type === 'guest'
      .dropdown__content
        +dropdown-item({title: 'Взрослые'})
        +dropdown-item({title: 'Дети'})
        +dropdown-item({title: 'Младенцы'})
        if (withBtn)
          .dropdown__btns
            span.dropdown__btns-clear="Очистить"
            span.dropdown__btns-apply="Применить"

    else if type === 'room'
      .dropdown__content
        +dropdown-item({title: 'Спальни'})
        +dropdown-item({title: 'Кровати'})
        +dropdown-item({title: 'Ванные комнаты'})
        if (withBtn)
          .dropdown__btns
            span.dropdown__btns-clear="Очистить"
            span.dropdown__btns-apply="Применить"
