@import '../../theme//variables.scss';

.login-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: white;
  width: 380px;
  padding: 40px 30px 30px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  &__title {
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 26px;

    &_inputs {
      margin-bottom: 20px;
    }

    &_btn {
      margin-bottom: 29px;
    }
  }

  &__input {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}