//-
  options.label
  options.isChecked - true || false
  options.isBold - true || false

mixin radio(items)
  if !items
    - items = []

  for item in items 
    label.radio= item.label
      input.radio__input(type='radio' name=item.name checked=item.isChecked)
      span.radio__mark

