mixin dropdown-item(options)
  if !options
    - options = {}

  - 
    var {title} = options

  .dropdown-item
    .dropdown-item__title= title
    .dropdown-item__controls
      .dropdown-item__button(data-btn='minus')= '-'
      .dropdown-item__counter= '0'
      .dropdown-item__button(data-btn='plus')= '+'
