@import '../../theme/variables.scss';

.landing {
  @include setBackground('./img/landing-bg.jpg');

  &__content {
    display: flex;
    flex-direction: column;
    padding: 70px 0 20px;

    @include media-breakpoint($xs) {
      align-items: center;
    }
  }

  &__text {
    align-self: flex-end;
    text-align: right;
    line-height: 24px;
    max-width: 300px;
    margin-top: 316px;
  }
}