  @import '../../theme/variables.scss';

  .sign-in {
    @include setBackground('./img/sign-in-bg.jpg');

    &__content {
      display: flex;
      justify-content: center;
      padding: 172px 0;

      @include media-breakpoint($xs) {
        padding: 70px 0;
      }
    }
  }