@import '../../theme/variables.scss';

.button {
  position: relative;
  display: inline-block;
  color: white;

  &__element {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 14px;
    color: white;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    border: 2px solid $purple;
    border-radius: 1.570rem;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    width: 100%;
    padding: 0.6rem 1.35rem;
    cursor: pointer;
    outline: none;
    transition: all .3s;

    &:hover,
    &:active {
      opacity: 0.5;
    }


  }

  &.button_inverted &__element {
    color: $purple;
    background: white;
  }

  &.button_mr &__element {
    margin-right: 20px;
  }
}