//-
  options.text - текст
  options.size - lg || avg
  options.isInverted - bool
  options.isSubmit - bool
  options.isDisabled - bool

mixin button(options)
  if !options
    - options = {}
  -
    let classes = ''
    let {text, size = 'avg', isInverted = false, isSubmit = false, isDisabled = false} = options

    classes += isInverted ? ' button_inverted' : ''
    classes += isDisabled ? ' button_disabled' : ''
    classes += size === 'lg' ? ' button_lg' : ''


  button.button(class=classes, type = isSubmit ? 'submit' : false)= text || 'Button'