@import '../../theme/variables.scss';

.menu {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;

    @include media-breakpoint($md) {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      background: #fff;
      padding: 30px 20px;
      border-top: 1px solid $darkShade25;
      border-bottom: 1px solid $darkShade25;
      z-index: 1;
    }

    &_open {
      display: block;
    }
  }

  &__item {
    position: relative;

    &:hover {
      & .submenu {
        display: block;
      }
    }

    @include media-breakpoint($md) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-left: 30px;

      @include media-breakpoint($md) {
        margin: 0;
      }
    }

    &_dropdown {
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: block;
        height: 26px;
      }
    }

    &_btns {
      display: flex;

      @include media-breakpoint($xs) {
        flex-direction: column;
        align-items: flex-start;
      }

      & .button:first-child {
        margin-right: 19px;

        @include media-breakpoint($xs) {
          margin: 0 0 15px;
        }
      }
    }
  }

  &__link {
    position: relative;
    color: $darkShade50;
    line-height: 17px;
    text-decoration: none;
    padding: 0px 13px;

    @include media-breakpoint($md) {
      font-size: 1.1rem;
      padding: 0;
    }

    &:hover {
      text-decoration: underline;
    }

    &_active {
      color: $darkShade75;
      font-weight: 700;
    }

    &_dropdown {
      padding-right: 15px;

      &::after {
        content: "\e313";
        position: absolute;
        top: 4px;
        font-family: "Material Icons";
        font-size: 1.714rem;
        text-align: center;
        line-height: 15px;
        color: $darkShade50;
      }
    }
  }

  &__user {
    position: relative;
    color: $darkShade50;
    padding-left: 20px;

    @include media-breakpoint($md) {
      font-size: 1.1rem;
      padding-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -5px;
      height: 30px;
      width: 1px;
      background-color: $darkShade10;

      @include media-breakpoint($md) {
        content: none
      }
    }
  }

  & .submenu {
    display: none;
    position: absolute;
    top: 100%;
    border-top: 1px solid $darkShade25;
    background-color: white;
    width: 250px;
    padding: 10px 0;
    margin-top: 26px;
    list-style: none;
    z-index: 2;

    @include media-breakpoint($md) {
      margin-top: 10px;
      padding: 10px;
    }

    &__item {
      margin-bottom: 10px;
    }

    &__item-link {
      color: $darkShade50;
      line-height: 17px;
      text-decoration: none;
      padding: 0px 13px;

      @include media-breakpoint($md) {
        font-size: 0.857rem;
        padding: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }

  }

  &__humburger {
    display: none;
    position: relative;
    border: none;
    outline: none;
    width: 30px;
    height: 25px;
    cursor: pointer;
    transition: .3s;

    @include media-breakpoint($md) {
      display: block;
    }


    &::before,
    &::after {
      content: '';
      display: block;
      background: $darkShade50;
      width: 30px;
      height: 2px;
      transition: all .3s ease-in-out;
      z-index: 0;
    }

    &::before {
      margin-bottom: 8px;
    }

    &_open {
      & .menu__humburger-item {
        transform: scale(0);
      }

      &::before {
        transform: translateY(11px) rotate(45deg);
      }

      &::after {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }

  &__humburger-item {
    display: block;
    margin-bottom: 8px;
    width: 30px;
    height: 2px;
    background-color: $darkShade50;
    transition: transform .3s ease-in-out;
  }
}