@import '../../theme/variables.scss';

.menu {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $darkShade50;

    &_arrow {
      padding-right: 15px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 4px;
        display: inline-block;
        border: solid $darkShade50;
        border-width: 0 2px 2px 0;
        padding: 3px;
        transform: rotate(45deg);
      }
    }


  }

  & .submenu {
    display: none;
  }
}