@import '../../theme/variables.scss';

.menu {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    position: relative;
    color: $darkShade50;
    line-height: 17px;
    text-decoration: none;
    padding: 0px 13px;

    &:hover {
      text-decoration: underline;
    }

    &_active {
      color: $darkShade75;
      font-weight: 700;
    }

    &_dropdown {
      padding-right: 15px;

      &::after {
        content: "\e313";
        position: absolute;
        top: 4px;
        font-family: "Material Icons";
        font-size: 1.714rem;
        text-align: center;
        line-height: 15px;
        color: $darkShade50;
      }
    }


  }

  & .submenu {
    display: none;
  }
}