include ../checkbox/checkbox

//-
  options.title
  options.visibility - hide || show
  options.items
  options.items[0].label
  options.items[0].isChecked

mixin expander(options = {})
  - const {title = 'Expandable checkbox list', visibility = hide, items = []} = options

  .expander
    .expander__top.js-expander(class= visibility === 'show' ? 'expander__top_open' : '')= title
    .expander__list(class= visibility === 'show' ? 'expander__list_show' : '')
      for item in items
        .expander__item
          +checkbox({label: item.label, isChecked: item.isChecked})
