include ../text-field/text-field
include ../calendar/calendar

mixin date-dropdown(options = {})
  - const {firstTitle = 'date-dropdown', secondTitle = 'date-dropdown'} = options

  .date-dropdown
    +calendar()
    .date-dropdown__item
      +text-field({placeholder: 'ДД.ММ.ГГГГ', isLabel: true, title: firstTitle, isMask: true})
    .date-dropdown__item
      +text-field({placeholder: 'ДД.ММ.ГГГГ', isLabel: true, title: secondTitle, isMask: true})
