include ../text-field/text-field
include ../calendar/calendar

mixin date-dropdown()
  .date-dropdown
    +calendar({type: 'date'})
    .date-dropdown__item
      +text-field({placeholder: 'ДД.ММ.ГГГГ', isLabel: true, title: 'date dropdown', isMask: true})
    .date-dropdown__item
      +text-field({placeholder: 'ДД.ММ.ГГГГ', isLabel: true, title: 'date dropdown', isMask: true})
