@import '../../theme/variables.scss';

.date-dropdown {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint($xs) {
    flex-direction: column;
  }

  &__item {
    width: 150px;

    @include media-breakpoint($xs) {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}