include ../text-field/text-field
include ../calendar/calendar

//-
  options.title

mixin filter-dropdown(title = 'filter date dropdown')

  .filter-dropdown
    +calendar({type: 'filter'})
    .filter-dropdown__item
      +text-field({placeholder: 'ДД.ММ.ГГГГ', isLabel: true, title})
