include ../../components/container/container
include ../../components/kit-logo/kit-logo
include ../../components/date-dropdown/date-dropdown
include ../../components/text-field/text-field
include ../../components/calendar/calendar
include ../../components/subscription/subscription
include ../../components/dropdown/dropdown
include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like-btn/like-btn
include ../../components/rate-btn/rate-btn
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/simple-button/simple-button
include ../../components/long-button/long-button
include ../../components/pagination/pagination

doctype html 
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Forms Elements

  body
    block main
      .form-elements
        .form-elements__logo
          +kit-logo

        +container()
          .form-elements__content
            .form-elements__row
              .form-elements__column.form-elements__column_width320
                .form-elements__item
                  .form-elements__title
                    .form-elements__name text-field
                    .form-elements__state default
                  +text-field({placeholder: 'Email'})

                .form-elements__item
                  .form-elements__title
                    .form-elements__name text-field
                    .form-elements__state hover / focus
                  +text-field({placeholder: 'Email', value: 'This is pretty awesome', isFocused: true})

                .form-elements__item
                  .form-elements__title
                    .form-elements__name dropdown
                  +dropdown({type: 'guest', isVisible: 'hide', 'withBtn': true})


                .form-elements__item.form-elements__item_mb
                  .form-elements__title
                    .form-elements__name masked text-field
                  +text-field({isMask: true})

                .form-elements__item.form-elements__item_mb
                  +date-dropdown()

                .form-elements__item.form-elements__item_mb.form-elements__item_sm
                  +text-field({placeholder: 'Email', value: '19 авг - 23 авг', isLabel: true, title: 'filter date dropdown'})

                .form-elements__item.form-elements__item_sm
                  .form-elements__title
                    .form-elements__name subscription text field
                  +subscription({placeholder: 'Email'})

              .form-elements__column.form-elements__column_width320
                .form-elements__item.form-elements__item_mb
                  .form-elements__title.form-elements__title_mb
                    .form-elements__name ckeckbox buttons
                  .form-elements__checkbox
                    +checkbox({label: 'Можно курить'})
                  .form-elements__checkbox
                    +checkbox({label: 'Можно с питомцами', isChecked: true})
                  .form-elements__checkbox
                    +checkbox({label: 'Можно пригралисть гостей (до 10 человек)', isChecked: true, isBold: false})

                .form-elements__item.form-elements__item_mb
                  .form-elements__title.form-elements__title_mb
                    .form-elements__name radio buttons
                  +radio([
                    {label: 'Мужчина', name: 'gender', isChecked: true},
                    {label: 'Женщина', name: 'gender', isChecked: false}
                    ])

                .form-elements__item.form-elements__item_toggle
                  .form-elements__title.form-elements__title_mb
                    .form-elements__name toggle
                  .form-elements__toggle
                    +toggle({label: 'Получать спецпредложения', isChecked: true})
                  .form-elements__toggle
                    +toggle({label: 'Получать спецпредложения', isChecked: false})

                .form-elements__item.form-elements__item_mb
                  .form-elements__title.form-elements__title_mb
                    .form-elements__name like button
                  span.form-elements__like
                    +like-btn({likes: 2, isLiked: false})
                  +like-btn({likes: 12, isLiked: true})

                .form-elements__item.form-elements__item_mb
                  .form-elements__title.form-elements__title_rate
                    .form-elements__name rate button
                  .form-elements__rating
                    .form-elements__rating-item
                      +rate-btn({rate: 4})
                    +rate-btn({rate: 5})



              .form-elements__column.form-elements__column_width320
                .form-elements__item.form-elements__item_range
                  +range-slider({
                    title: "Range slider",
                    type: "double",
                    min: "500",
                    max: "15000",
                    from: "5000",
                    to: "10000"
                  })

                .form-elements__item.form-elements__item_btn
                  .form-elements__title.form-elements__title_mb
                    .form-elements__name buttons
                  .form-elements__buttons
                    .form-elements__buttons-row
                      .form-elements__buttons-item
                        +button({text: 'click me', size: 'lg'})
                      .form-elements__buttons-item
                        +button({text: 'click me', size: 'lg', isDisabled: true})
                    .form-elements__buttons-row
                      .form-elements__buttons-item
                        +button({text: 'click me', size: 'lg', isInverted: true})
                      .form-elements__buttons-item
                        +button({text: 'click me', size: 'lg', isInverted: true, isDisabled: true})
                    .form-elements__buttons-row
                      .form-elements__buttons-item
                        +simple-button({text: 'click me'})
                      .form-elements__buttons-item
                        +simple-button({text: 'click me', isDisabled: true})
                    .form-elements__buttons-row
                      +long-button({text: 'Перейти к оплате'})

                .form-elements__item
                  .form-elements__title.form-elements__title_mb
                    .form-elements__name pagination
                  +pagination()


