extends ../base/base

include ../../components/registration-card/registration-card
include ../../components/container/container

block title
  title Registration

block content
  .registration
    +container()
      .registration__content
        +registration-card()