include ../checkbox/checkbox

mixin rich-checkbox(options = {})
  - const {label = '', description = ''} = options

  .rich-checkbox
    +checkbox({label, isBold: true})
    p.rich-checkbox__descr= description