include ../text-field/text-field
include ../radio/radio
include ../toggle/toggle
include ../long-button/long-button
include ../account/account
include ../subtitle/subtitle

mixin registration-card(options = {})
  - const {btnText = 'Перейти к оплате'} = options

  .registration-card
    h1.registration-card__title Регистрация аккаунта
    .registration-card__item
      .registration-card__input
        +text-field({type: 'text', placeholder: 'Имя'})
      .registration-card__input
        +text-field({type: 'text', placeholder: 'Фамилия'})
      .registration-card__radio 
        +radio([
          {
            label: 'Мужчина',
            name: 'gender',
            isChecked: true
          },
          {
            label: 'Женщина',
            name: 'gender',
            isChecked: false
          }
        ])

    .registration-card__item.registration-card__item_born
      +subtitle({title: 'Дата рождения'}) 
      +text-field({type: 'text', isMask: true})

    .registration-card__item
      +subtitle({title: 'данные для входа в сервис'})  
      .registration-card__input
        +text-field({type: 'Email', placeholder: 'Email'})
      .registration-card__input
        +text-field({type: 'password', placeholder: 'Пароль'})
      .registration-card__toggle
        +toggle({label: 'Получать спецпредложения', isChecked: false})

    .registration-card__item.registration-card__item_btn
      .registration-card__btn
        +long-button({text: btnText})

    .registration-card__account
      +account({btnText: 'Войти', description: 'Уже есть аккаунт на Toxin'})
