include ../text-field/text-field
include ../long-button/long-button
include ../account/account

mixin sign-in-card()
  .sign-in-card
    h1.sign-in-card__title Войти

    .sign-in-card__item.sign-in-card__item_inputs
      .sign-in-card__input
        +text-field({type: 'Email', placeholder: 'Email'})
      .sign-in-card__input
        +text-field({type: 'password', placeholder: 'Пароль'})

    .sign-in-card__item.sign-in-card__item_btn
      .sign-in-card__btn
        +long-button({text: 'войти'})

    .sign-in-card__account
      +account({btnText: 'Создать', description: 'Нет аккаунта на Toxin?'})
