//-
  item.title
  item.hex
  item.colorPrefix

mixin colors(items = [])
  ul.colors__list
    for item in items
      li.colors__item
        .colors__square(class= `colors__square_${item.colorPrefix}`)
        .colors__info
          h2.colors__title= item.title
          .colors__hex= item.hex