include ../button/button

//-
  options.btnText
  options.description

mixin account(options)
  if !options
    - options = {}

  - 
    let {btnText = 'Button', description} = options

  .account
    .account__description= description
    .account__btn
      +button({text: btnText, size: 'lg', isInverted: true})
