//-
  options.text - текст
  options.isDisabled - bool

mixin simple-button(options)
  if !options
    - options = {}

  -
    let {text, isDisabled = false} = options

  button.simple-button(class= isDisabled ? 'simple-button_disabled' : '')= text || 'Button'

