//-
  options.text
  options.isDisabled - bool

mixin simple-button(options)
  if !options
    - options = {}

  -
    let {text = 'Button', isDisabled = false} = options

  button.simple-button(class= isDisabled ? 'simple-button_disabled' : '')= text

