@import 'variables.scss';
@import 'fonts.scss';

@import './plugins/datepicker.scss';
@import './plugins/ion-slider.scss';
@import './plugins/slick-carousel.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

html {
  font-family: Montserrat,
    Arial, sans-serif;
  font-size: 14px;
  color: $darkShade75;
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: $darkShade100;
}

h1 {
  font-size: 1.714rem;

  @include media-breakpoint($xs) {
    font-size: 1.429rem;
  }
}

h2 {
  font-size: 1.429rem;
}

h3 {
  font-size: 0.857rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Montserrat, sans-serif;
}