@import '../../theme/variables.scss';

.bullet {
  list-style: none;

  &__item {
    position: relative;
    color: $darkShade75;
    line-height: 24px;
    list-style: none;
    padding: 0 0 0 20px;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $darkShade25;
    }

    &_indent_sm {
      line-height: 17px;
      padding: 0 0 0 16px;
      margin-bottom: 7px;

      &::before {
        top: 3px;
      }
    }

    &_color_yellow {
      &::before {
        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
      }
    }

    &_color_green {
      &::before {
        background: $gradient-green;
      }
    }

    &_color_blue {
      &::before {
        background: $gradient;
      }
    }

    &_color_black {
      &::before {
        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      }
    }
  }
}