extends ../base/base

include ../../components/header/header


block header
  +header({menuItems: locals.menuItems, isAuth: false, class: 'mb'})
  +header({menuItems: locals.menuItems, isAuth: true, class: 'mb'})