@import '../../theme/variables.scss';

.headers-footers {
  background-color: $gray;

  &__item {
    margin-bottom: 40px;
  }

  &__logo {
    width: 100%;
    max-width: 1380px;
    margin: 30px auto 62px auto;
    padding: 0 15px;
  }
}