-
  locals.menuItems = [
    {
      name: 'О нас',
      href: '/about-us',
      active: true
    }, 
    {
      name: 'Услуги',
      href: '/services',
      childs: [
        {
          name: 'Пункт меню',
          href: '/services-sub'
        },
        {
          name: 'Пункт меню',
          href: '/services-sub'
        },
        {
          name: 'Пункт меню',
          href: '/services-sub'
        }
      ],
    }, 
    {
      name: 'Вакансии',
      href: '/vacancy'
    }, 
    {
      name: 'Новости',
      href: '/news'
    },
    {
      name: 'Соглашения',
      href: '/agreement',
      childs: [
        {
          name: 'Пункт меню',
          href: '/agreement-sub'
        },
        {
          name: 'Длинный пункт меню',
          href: '/agreement-sub'
        },
        {
          name: 'Очень длинный пункт меню',
          href: '/agreement-sub'
        }
      ],
    }, 
  ],
    locals.footerMenuItems = [
    {
      title: 'Навигация',
      list: [
        {
          name: 'О нас',
          href: '/about-us',
        },
        {
          name: 'Новости',
          href: '/news',
        },
        {
          name: 'Служба поддержки',
          href: '/support',
        },
        {
          name: 'Услуги',
          href: '/support',
        },
      ]
    }, 
    {
      title: 'О нас',
      list: [
        {
          name: 'О сервисе',
          href: '/about-service',
        },
        {
          name: 'Наша команда',
          href: '/team',
        },
        {
          name: 'Вакансии',
          href: '/vacancy',
        },
        {
          name: 'Инвесторы',
          href: '/investors',
        },
      ]
    }, 
    {
      title: 'Служба поддержки',
      list: [
        {
          name: 'Соглашения',
          href: '/agreements',
        },
        {
          name: 'Сообщество',
          href: '/community',
        },
        {
          name: 'Связь с нами',
          href: '/сontact us',
        },
      ]
    }
  ],
  locals.subscription = {
    title: 'Подписка',
    text: 'Получайте специальные предложения и новости сервиса',
    placeholder: "Email"
  },
  locals.copyright = "Copyright © 2018 Toxin отель. Все права зачищены.",
  locals.isAuth = false