include ./base-data
block variables

include ../../components/header/header
include ../../components/footer/footer
include ../../components/container/container
include ../../components/socials/socials


doctype html 
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title
      block title

  body
    block header
      +header({menuItems: locals.menuItems, isAuth: locals.isAuth})

    block main

    block footer
      +footer({menuItems: locals.footerMenuItems, subscription: locals.subscription, copyright: locals.copyright})


    block scripts