include ../menu/menu

include ../logo/logo

//-
  options.menuItems

mixin header(options)
  if !options
    - options = {}

  - 
    let {menuItems = [], isAuth = false} = options

  header.header
    +container()
      .header__content
        a.header__logo(href = '/')
          +logo()
        .header__menu
          +menu({items: menuItems, isAuth})
