include ../menu/menu
include ../button/button
include ../logo/logo

//-
  options.menuItems
  options.isAuth - bool

mixin header(options)
  if !options
    - options = {}

  - 
    let {menuItems, isAuth} = options

  header.header
    +container()
      .header__content
        a.header__logo(href = '/')
          +logo()
        .header__menu
          +menu({items: menuItems})
        if !isAuth
          .header__btns
            +button({text: 'Войти', isInverted: true})
            +button({text: 'Зарегистрироваться'})
        else
          .header__user= 'Юлий Цезарь'
