include ../menu/menu
include ../button/button
include ../logo/logo

//-
  options.menuItems - массив елементов меню

mixin header(options)
  if !options
    - options = {}

  -
    var classes = ''
    classes += options.class ? 'header_' + options.class : ''

  header.header(class=classes)
    +container()
      .header__content
        a.header__logo(href = '/')
          +logo()
        .header__menu
          +menu({items: options.menuItems})
        if !options.isAuth
          .header__btns
            +button({text: 'Войти', type: 'inverted'})
            +button({text: 'Зарегистрироваться'})
        else
          .header__user= 'Юлий Цезарь'
