//-
  options.galleryItems
  options.isNav

mixin gallery(options = {})
  - const {galleryItems = [], isNav = 'show'} = options

  .gallery.js-gallery(data-nav= isNav)
    for item in galleryItems
      img.gallery__item(src=require(`/components/gallery/img/${item.img}`), alt=`${item.img}`)

