@import '../../theme/variables.scss';

.footer {
  background: white;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  border-top: 1px solid $darkShade25;

  &__logo {
    display: inline-block;
    margin: 0 0 13px;
  }

  &__content {
    display: flex;
    padding: 100px 0 77px;

    @include media-breakpoint($lg) {
      flex-wrap: wrap;
    }

    @include media-breakpoint($md) {
      justify-content: space-between;
    }

    @include media-breakpoint($sm) {
      flex-direction: column;
      align-items: flex-start;
      padding: 60px 0;
    }
  }

  &__left {
    max-width: 260px;

    @include media-breakpoint($md) {
      max-width: auto;
    }
  }

  &__right {
    display: flex;
    padding-top: 5px;
    margin-left: 40px;

    @include media-breakpoint($md) {
      display: none;
    }
  }

  &__column {
    min-width: 200px;
  }

  &__title {
    font-size: 0.857rem;
    font-weight: 700;
    color: $darkShade100;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    display: inline-block;
    position: relative;
    color: $darkShade50;
    line-height: 17px;
    text-decoration: none;
    margin-bottom: 21px;


    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    margin: 0 0 20px;
    line-height: 24px;
  }

  &__subscription {
    padding-top: 5px;
  }

  &__copyright {
    background-color: white;
    border-top: 1px solid $darkShade10;
    padding: 25px 0;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }
}