mixin socials()
  .socials
    a.socials__link(href='https://www.facebook.com/')
      img.socials__icon(src=require('/components/socials/img/twitter.svg'), alt='twitter')
    a.socials__link(href='https://twitter.com/')
      img.socials__icon(src=require('/components/socials/img/facebook.svg'), alt='facebook')
    a.socials__link(href='https://www.instagram.com/')
      img.socials__icon(src=require('/components/socials/img/instagram.svg'), alt='instagram')