//-
  options.roomNumber
  options.price
  options.priceText
  options.size - md || sm
  options.isLuxe

mixin room-info(options)
  if !options
    - options = {}

  -
    let {roomNumber = 0, price = 0, priceText = ' в сутки', isLuxe = false, size = 'md'} = options

  .room-info(class= size === 'sm' ? 'room-info_sm' : '')
    .room-info__left
      span.room-info__symbol № 
      span.room-info__number #{roomNumber}
      if isLuxe
        span.room-info__luxe люкс

    .room-info__right
      span.room-info__price #{price}&#8381
      span.room-info__price-text= priceText




