//-
  options.label
  options.isChecked - bool

mixin toggle(options = {})
  - const {label, isChecked = false} = options

  label.toggle= label
    input.toggle__input(type='checkbox' checked=isChecked)
    span.toggle__mark

