@import '../../theme/variables.scss';

.like-btn {
  display: inline-block;
  position: relative;
  font-size: 0.714rem;
  color: $darkShade25;
  background-color: white;
  border: 1px solid $darkShade25;
  border-radius: 10px;
  min-width: 39px;
  padding: 3px 6px 3px 18px;
  cursor: pointer;
  user-select: none;

  &__icon {
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: .625rem;
    display: inline-block;
    line-height: .7rem;
    text-transform: none;

    &_liked {
      color: $purple;
    }
  }

  &_liked {
    border-color: $purple;
    color: $purple;
  }
}