.cards {

  &__logo {
    width: 100%;
    max-width: 1380px;
    margin: 30px auto 62px auto;
    }

  &__content {
    display: flex;
    margin-top: 72px;
  }

  &__item {

    &_room-search {
      margin-bottom: 40px;
    }
  }
}