//-
  options.value - значение
  options.type - input type
  options.isMask - добавление маски для инпута
  options.isFocused - фокус
  options.isLabel - label для инпута(для добавления стрелки)

mixin text-field(options)
  if !options
    - options = {}

  - 
    let {isMask, isFocused, isLabel, value, type} = options
    let classes = []



  if isMask
    - classes.push('js-masked')

  else if isFocused
    - classes.push('text-field__input_focused')

  if isLabel
    .text-field
      .text-field__title= options.title
      label.text-field__label
        input.text-field__input(type= options.type, placeholder= options.placeholder, value= options.value, class= classes)
  else
    .text-field
      input.text-field__input(type= options.type, placeholder= options.placeholder, value= options.value, class= classes)
