@import '../../theme/variables.scss';

.text-field {

  &__input {
    font-size: 1rem;
    color: $darkShade75;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    width: 100%;
    padding: 12px 35px 12px 15px;
    transition: .3s;

    &::placeholder {
      color: $darkShade25;
      transition: .3s;
    }

    &:hover,
    &:focus,
    &_focused {
      color: $darkShade75;
      border-color: $darkShade50;


      &::placeholder {
        color: $darkShade75;
      }
    }
  }

  &__label {
    position: relative;

    &::after {
      content: "\e313";
      position: absolute;
      top: 2px;
      right: 10px;
      font-family: "Material Icons";
      font-size: 1.714rem;
      text-align: center;
      line-height: 15px;
      color: $darkShade50;

    }
  }

}