include ../subtitle/subtitle

//-
  options.value
  options.type
  options.isMask - bool
  options.isFocused - bool
  options.isLabel - bool

mixin text-field(options)
  if !options
    - options = {}

  - 
    let {title, value, type, placeholder = 'placeholder', isMask = false, isFocused = false, isLabel = false} = options
    let classes = []

  if isMask
    - classes.push('js-masked')

  else if isFocused
    - classes.push('text-field__input_focused')

  if isLabel
    .text-field
      +subtitle({title})
      label.text-field__label
        input.text-field__input(type= type, placeholder= placeholder, value= value, class= classes)
  else
    .text-field
      input.text-field__input(type= type, placeholder= placeholder, value= value, class= classes)
